@import url('../assets/css/plugins/animation.css');
@import url('../assets/css/plugins/bootstrap.min.css');
@import url('../assets/css/plugins/date-picker.css');
@import url('../assets/css/plugins/select2.css');
@import url('../assets/css/plugins/slick.css');
@import url('../assets/css/plugins/slick-theme.css');
@import url('../assets/css/plugins/themify.css');
@import url('../assets/css/plugins/morris.css');
@import url('../assets/css/plugins/font-awesome.css');
@import url('../assets/css/plugins/flaticon.css');
@import url('../assets/css/plugins/summernote.min.css');